# Site settings
title: Tejus Siddagangaiah
email: tejus261990@gmail.com
description: Essays and thoughts
baseurl: ""
url: "https://tejus26.github.io"

# Build settings
markdown: kramdown
permalink: /:title.html

# Collections
collections:
  essays:
    output: true
    permalink: /:title.html

# Exclude from processing
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
